* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Georgia, sans-serif;
    line-height: 1.6;
    color: #333;
  }
  
  /* Header Styling */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.413));
    color: #fff;
  }
  
  header .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
  }
  
  header nav ul li {
    margin: 0 10px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    transition: 0.3s;
  }
  
  header nav ul li a:hover {
    background: #3a3a3a;
    border-radius: 20px;
  }
  
  /* Container and Background */
  .container {
    /*position: relative;*/
    width: 100%;
    height: 93.8vh;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
  }
  
  .background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  @media (min-aspect-ratio: 16/9) {
    .background-clip {
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .background-clip {
      width: auto;
      height: 100%;
    }
  }
  
  /* Main Content */
  main {
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  main h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  main p {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  
  /* Offers List */
  .offers-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    position: relative;
    z-index: 2;
  }
  
  .offer-card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    color: #333;
    transition: transform 0.3s;
  }
  
  .offer-card:hover {
    transform: scale(1.05);
  }
  
  .offer-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .offer-card p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .offer-card button {
    background: #827efe;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .offer-card button:hover {
    background: #080075;
  }
  
  /* Footer */
  footer {
    margin-top: auto;
    text-align: center;
    padding: 4px;
    background-color: rgb(28, 0, 0); /*linear-gradient(to bottom, rgba(0, 0, 0, 0.364), rgb(0, 0, 0));*/
    color: #ffffff;
  }
  